{% extends 'base.html' %}
{% block title %}
  <title>Добавить товар</title>
{% endblock %}

{% block h1 %} <h1 class="display-4 fw-bolder">Добавления</h1> {% endblock h1 %}
{% block p %} <p class="lead fw-normal text-white-50 mb-0">Текст о стр добавления</p>{% endblock p %}

{% block body %}

<body>
<div class="container">
  <body class="text-center"cz-shortcut-listen="true">
    <form method="post">

      <h1 class="h3 mb-3 font-weight-normal"> </h1>

      <input type="text" name="title" class="form-control" placeholder="Название товара">
      <br>
      <input type="number" name="price" class="form-control" placeholder="Цена товара" required="">
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-success" type="submit">Добавить товар</button>
      <p class="mt-5 mb-3 text-muted"></p>
    </form>


</body>
</div>
{% endblock %}