{% extends 'base.html' %}
{% block title %}
  <title>Регистрация</title>
{% endblock %}

{% block h1 %} <h1 class="display-4 fw-bolder">Зарегистрироваться</h1> {% endblock h1 %}
{% block p %} <p class="lead fw-normal text-white-50 mb-0">Текст о стр регистрац</p>{% endblock p %}

{% block content %}



<div class="container">
   <form class="form-signin" method="post" action="/registration/">
      <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
      {{ form.username.label }}<br>
      {{ form.username  }}<br>
      {{ form.email.label }}<br>
      {{ form.email  }}<br>
      {{ form.password1.label  }}<br>
      {{ form.password1  }}<br>
      {{ form.password2.label  }}<br>
      {{ form.password2  }}<br>
      {{ form.submit }}
      <p class="mt-5 mb-3 text-muted">Просто текст</p>
    </form>
</div>


{% endblock %}