{% extends 'base.html' %}
{% block title %}
  <title>Войти</title>
{% endblock %}

{% block h1 %} <h1 class="display-4 fw-bolder">Войти</h1> {% endblock h1 %}
{% block p %} <p class="lead fw-normal text-white-50 mb-0">Текст о стр войти</p>{% endblock p %}

{% block body %}



<body>
<div class="container">
  <body class="text-center"cz-shortcut-listen="true">
    <form class="form-signin" method="post" action="/signin/">
      <h1 class="h3 mb-3 font-weight-normal"> </h1>
     {{ form.username.label }}
     {{ form.username }}

      {{ form.password.label }}
      {{ form.password }}
      <div class="checkbox mb-3">

      </div>
      {{ form.submit }}
      <p class="mt-5 mb-3 text-muted"></p>
    </form>


</body>
</div>



{% endblock %}






