{% extends 'base.html' %}
{% block title %}
  <title>Войти</title>
{% endblock %}

{% block h1 %} <h1 class="display-4 fw-bolder">Войти</h1> {% endblock h1 %}
{% block p %} <p class="lead fw-normal text-white-50 mb-0">Текст о стр войти</p>{% endblock p %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-4">
    <form class="form-signin p-4 shadow-lg rounded bg-light" method="post" action="{{ url_for('signin') }}">
      {{ form.hidden_tag() }}
      <h1 class="h4 mb-3 font-weight-bold text-center">Вход</h1>

      <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
      </div>

      <button type="submit" class="btn btn-primary btn-block mt-3">
        Войти
      </button>
    </form>
  </div>
</div>
{% endblock %}






